<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        {# vsetky dependencie je mozno idealne natahovat tu #}
        <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
              rel="stylesheet">
        <link href="{{ url_for('static', filename='node_modules/bootstrap-slider/dist/css/bootstrap-slider.css') }}"
              rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/style.css') }}"
              rel="stylesheet">
        <title>{% block title %}{% endblock %} Webtech2 final assigment </title>
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">WEBTE2 octavia proxy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Simulacie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="terminal">Octave terminal</a>
            </li>
        </ul>
        <div class="btn-group">
            <button class="btn btn-light btn-sm btn-dropdown" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {{ CURRENT_LANGUAGE }}
                <img style="width: 1rem" src="../static/assets/images/{{ CURRENT_LANGUAGE }}.svg"
                     alt="{{ CURRENT_LANGUAGE }} flag">
            </button>
            <div class="dropdown-menu">
                {# hehe, dirty shit ako keby to pisal prvak tu nebudeme tolerovat#}
                {% for language in AVAILABLE_LANGUAGES.items() %}
                    {% if CURRENT_LANGUAGE == language[0] %}
                        <span class="dropdown-item">{{ language[1] }}
                        <img style="width: 1rem" src="../static/assets/images/{{ language[0] }}.svg"
                             alt="{{ language[1] }} flag"> </span>
                    {% else %}
                        <a href="{{ url_for('user.set_language', language=language[0]) }}"
                           class="dropdown-item">{{ language[1] }}
                        <img style="width: 1rem" src="../static/assets/images/{{ language[0] }}.svg"
                             alt="{{ language[1] }} flag"> </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">API dokumentacia</button>
        <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
            <input type="submit" class="btn btn-info btn-md" value="Odhlásiť sa">
        </form>
    </div>
</nav>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        {% block footer %}
            &copy; Copyright 2020 by Andrej Fula, Pavol Dudak, Peter Hajduk.
        {% endblock %}
    </div>
</footer>
<script src="{{ url_for('static', filename='node_modules/plotly.js-dist/plotly.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/jquery-ui-dist/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap-slider/dist/bootstrap-slider.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/pixi.js/dist/pixi.js') }}"></script>
<script src="{{ url_for('static', filename='./plotly-app.js') }}"></script>
<script src="{{ url_for('static', filename='./terminal-app.js') }}"></script>
</body>

</html>