<h3>{{ _('Export štatistík z aplikácie Octavia Proxy') }}
{#    Statistics export from Octavia Proxy application#}
</h3>
<p>{{ _('Priložený súbor obsahuje štatistiky volania Octave príkazov, počet volaní a podobné dáta') }}
{#    Statistics in attached file/files represents called octave commands, number of calls and similar data.#}
</p>
<hr>
<footer style="font-size: x-small">
    {{ _('Táto správa bola vygenerovaná automaticky. Neodpovedajte na ňu.
     Ak potrebujete bližšie informácia, máte bohužiaľ smolu') }}
{#    This message was generated automatically. Don't respond to it. If you need further instructions, you are#}
{#    unfortunately on your own.#}
</footer>

{#    todo remove english translations once they are used in messages.po    #}
{#    todo try to add support for multi-valued strings (main paragraph)   #}