<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% block head %}
        <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
              rel="stylesheet">
        <link href="{{ url_for('static', filename='./styles/form-style.css') }}"
              rel="stylesheet">
        <title>{% block title %}{% endblock %} {{ _('WebTech2 Finalné Zadanie') }} </title>
    {% endblock %}
</head>

<body>
<div class="h-100">
    <div class="w-100 d-flex justify-content-center main-bar shadow">
        <span style="font-size: 40px" class="d-flex flex-column m-auto">{{ _('Octavia proxy') }}</span>
        <div class="btn-group">
            <button class="logout-btn btn btn-md btn-dropdown mr-5" style="color: white" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {{ CURRENT_LANGUAGE }}
                <img style="width: 1rem" src="../static/assets/images/{{ CURRENT_LANGUAGE }}.svg"
                     alt="{{ CURRENT_LANGUAGE }} flag">
            </button>
            <div class="dropdown-menu">
                {# hehe, dirty shit ako keby to pisal prvak tu nebudeme tolerovat#}
                {% for language in AVAILABLE_LANGUAGES.items() %}
                    {% if CURRENT_LANGUAGE == language[0] %}
                        <span class="dropdown-item">{{ language[1] }}
                        <img style="width: 1rem" src="../static/assets/images/{{ language[0] }}.svg"
                             alt="{{ language[1] }} flag"> </span>
                    {% else %}
                        <a href="{{ url_for('user.set_language', language=language[0]) }}"
                           class="dropdown-item">{{ language[1] }}
                            <img style="width: 1rem" src="../static/assets/images/{{ language[0] }}.svg"
                                 alt="{{ language[1] }} flag"> </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6 col-10">
                <div id="login-box" class="col-md-12 shadow">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">
            {% block footer %}
                &copy; Copyright 2020 by Andrej Fula, Pavol Dudak, Peter Hajduk & Peter Vigh.
            {% endblock %}
        </div>
    </footer>
</div>
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/popper.js/dist/popper.min.js') }}"></script>
</body>

</html>