{# takto si importovat makra #}
{% extends "base.jinja2" %}
{% from 'macros/hello_firends.jinja2' import hello_friends %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{# do tokto bloku sa insertuju vsetky data #}
{% block content %}
    <div class="container">
        <h1 class="display-3 text-center">Balkón - Láska, popiči láska</h1>
        <p class="text-center">
            Kde sa feti tu sa feti murko beha doplašeny <br>
            kde su fetyy? (tralalala) <br>
            Kde sa feti tu sa feti murko beha doplašeny <br>
            kde su fetyy?(kde sú fety?)rychlo dajte fety. <br>
        </p>
        <div class="row justify-content-center">
            {# makro je ako funkcia ktora ma svoje argumenty #}
            {{ hello_friends("Zakova", "Fuck you") }}
            <form>
                <div class="form-group">
                    <select id="data-options" class="custom-select">
                        <option selected value="0">Vyber si pekne ktore data chces zobrazit</option>
                    </select>
                </div>
                <div class="form-group slider-group">
                    <label for="slider">Parameter: </label>
                    <input id="slider" type="text" class="form-control"
                           data-slider-min="0" data-slider-max="50" data-slider-step="0.1" data-slider-value="0.2"/>
                </div>
                <button type="button" class="btn btn-primary" id="show">Show it to me baby</button>
            </form>
            <div id="chart"></div>
        </div>
    </div>
{% endblock %}