{# takto si importovat makra #}
{% extends "base.jinja2" %}
{% from 'macros/hello_firends.jinja2' import hello_friends %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{# do tokto bloku sa insertuju vsetky data #}
{% block content %}
    <div class="container simulation-content">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select id="data-options" class="custom-select">
                        <option selected value="0">{{ _('Vyber si pekne ktore data chces zobrazit') }}</option>
                    </select>
                </div>
                <div class="form-group slider-group">
                    <input type="range" class="form-control-range" id="slider" data-slider-min="-1"
                           data-slider-max="1"
                           data-slider-step="0.05" data-slider-value="0.2">
                </div>
                <button type="button" class="btn btn-primary btn-block" id="show">{{ _('Zobraz graf') }}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <div id="canvas"></div>
            </div>
            <div class="col-5">
                <div id="chart"></div>
            </div>
        </div>
    </div>
{% endblock %}