{% extends "base.jinja2" %}

{% block title %}Octavia simulation | {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-inline" id="mail-form">
            <div class="btn-toolbar mb-3 top-margin" role="toolbar" aria-label="Toolbar with button groups">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">{{ _('Odoslať štatistiky na:') }}</div>
                    </div>
                    <input type="email" class="form-control" placeholder="{{ _('Emailová adresa') }}"
                           aria-label="User email address" aria-describedby="btnGroupAddon" id="user-email">
                </div>
                <div class="btn-group mr-2 left-margin" role="group" aria-label="First group">
                    <label class="btn btn-outline-success">
                        <input type="checkbox" autocomplete="off" hidden id="csv"> CSV
                    </label>
                    <label class="btn btn-outline-danger">
                        <input type="checkbox" autocomplete="off" hidden id="pdf"> PDF
                    </label>
                </div>
                <input type="submit" class="btn btn-dark btn-md" value="{{ _('Odoslať') }}" id="send-mail-btn" disabled>
                <span id="mail-success-message" class="left-margin response-text">
                    {{ _('Mail úspešne odoslaný') }}</span>
                <span id="mail-error-message" class="left-margin response-text">
                    {{ _('Odosielanie mailu zlyhalo') }}</span>
            </div>
        </form>

        <h1>{{ _('Celkovo volaní :') }} {{ stats[2] }}</h1>
        <h2>{{ _('Úspešných :') }} {{ stats[1]['SUCCESS'] }}</h2>
        <h2>{{ _('Neúspešných:') }} {{ stats[1]['ERROR'] }}</h2>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">{{ _('Príkaz') }}</th>
                    <th scope="col">{{ _('Volanie') }}</th>
                    </tr>
                </thead>
            <tbody>
            {% for k, v in stats[0]|dictsort(by='value', reverse=True) %}
                <tr>
                    <th>{{ k }}</th>
                    <td>{{ v }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}