{% extends "base.jinja2" %}

{% block title %}Octavia console | {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{# do tokto bloku sa insertuju vsetky data #}
{% block content %}
    <div class="container">
        <h1>oh yeah</h1>
    </div>
{% endblock %}