{% extends "base.jinja2" %}

{% block title %}Octavia console | {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{# do tokto bloku sa insertuju vsetky data #}
{% block content %}
    <div class="center">
        <h1>Octavia terminal</h1>
        <div class="terminal-wrapper">
            <div class="terminal-output"></div>
            <form id="command-form" autocomplete="off" role="form" data-toggle="validator">
                <span class="command-prefix"></span>
                <input class="terminal-input" type="text" id="command-input" spellcheck="false" hidden>
                <input type="submit" hidden>
            </form>
        </div>
    </div>
{% endblock %}
