{% extends "base.jinja2" %}

{% block title %}Octavia console | {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{# do tokto bloku sa insertuju vsetky data #}
{% block content %}
    <div class="center">
        <h1>Octavia terminal</h1>
        <div class="terminal-wrapper">
            <div class="terminal-output"></div>
            <form id="command-form" autocomplete="off" role="form" data-toggle="validator">
                <span class="command-prefix"></span>
                <input class="terminal-input" type="text" id="command-input" spellcheck="false" hidden>
                <input type="submit" hidden>
            </form>
        </div>
    </div>
    <div id="dialog" title="Warning">
        <p style="font-weight: bold">This page is under construction, use it at your own risk.</p>
        <p>This project was supposed to be build in 4-man teams. Oh well...</p>
        <span>I would advise against trying any XSS or similar exploits, as they will definitely work.</span>
    </div>
{% endblock %}