{% macro hello_friends(name, greeting='Hello') -%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ greeting }} {{ name }}</h5>
            <p class="card-text">Today we are going to learn how to do webtech2 'things'.</p>
        </div>
    </div>
{%- endmacro %}