body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  height: 100vh;
}
div .container #login-row #login-column #login-box {
  margin-top: 5vh;
  background-color: #EAEAEA;
}
div .container #login-row #login-column #login-box #login-form {
    padding: 20px 10px 5px;
}

.form-check {
    margin-bottom: 0.4em;
}

.errors {
    color: red;
    list-style-type: none;
    width: 100%;
    padding-inline-start: 0;
}

.form-group {
    margin-bottom: 0.4em !important;
}

#login-box {
    max-width: 500px;
    border-radius: 5px !important;
}

.link-container {
    justify-content: space-between;
}

.link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.link:hover {
    text-decoration: none;
}

.main-bar {
    height: 100px !important;
    background-color: #355C7D !important;
    color: white !important;
}

.main-nav {
    font-size: 40px !important;
}

.language-switch {
    margin: 2em 1.5em 1em 3em;
}

.language-switch-link {
    text-decoration: none;
    color: white;
}

.language-switch-link:hover {
    text-decoration: none;
    color: grey;
}

.octavia-header {
    padding-left: 2.5em !important;
}