@import "navbar-style.css";
@import "suspension-style.css";

#chart {
    margin-top: 0.2em;
    height: 500px;
}

.tooltip.in {
    opacity: 1;
}

.top-margin {
    margin-top: 2em;
}

.simulation-content {
    margin-top: 3rem;
}

#canvas {
    margin-top: 1rem;
    position: relative;
}

#speed-slider-data .slider-selection {
    background: #17a2b8;
}

#parameter-slider-data .slider-selection {
    background: #28a745;
}

.dropdown-menu.show {
    z-index: 9999;
}
